# Must match host port for frontend docker container
ALLOWED_ORIGINS=http://localhost:38472
DB_PATH=/app/data/app.db
# Make sure matches the container port of backend in docker compose file
PORT=8081
POLLING_INTERVAL_MINUTES=15